<h1>Lista de Alumnos</h1>
<table class="table table-striped cleanTable">
  <tr>
    <th>NIP</th>
    <th>Nombre</th>
    <th>Grado</th>
    <th>Grupo</th>
    <th>Acciones</th>
  </tr>

  @for(alumno of alumnos; track alumno) {
    <tr>
      <td>{{ alumno.nip }}</td>
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.grado }}</td>
      <td>{{ alumno.grupo }}</td>
      <td><button class="btn btn-warning" (click)="delete(alumno.nip)">Eliminar</button>
        <button class="btn btn-warning" (click)="update(alumno)">Modificar</button></td>
    </tr>
    }
</table>
<div class="container">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type='text' id='nombre' name='nombre' [(ngModel)]="nombre" placeholder='Nombre' class='form-control' />
  </div>
  <div class="form-group">
    <label for="grado">Grado</label>
    <input type='text' [(ngModel)]="grado" id='grado' name='grado' placeholder='Grado' class='form-control' />
  </div>
  <div class="form-group">
    <label for="grupo">Grupo</label>
    <input type='text' id='grupo' [(ngModel)]="grupo" name='grupo' placeholder='Grupo' class='form-control' />
  </div>
  @if(this.modo == "guardar"){
    <button class="btn btn-primary" (click)="save()">Guardar</button>
    } @if(this.modo == "modificar"){
    <button class="btn btn-primary" (click)="put()">Modificar</button>
    <button class="btn btn-primary" (click)="cancela()">Cancelar</button>
    }
</div>
