.container{
}

.flex-main{
  display: flex;
  background-color: #f4f6f9;
}

.flex-col{
  width: 20em;
  background-color: white;
  border-radius: 3px;
  margin-left: 0.7em;
  margin-right: 0.7em;
  box-shadow: 3px 1px 1px rgb(102, 102, 102);
}

.flex-col > .title{
  text-align: center;
  border-radius: 3px;
  font-size: large;
  vertical-align: middle;
  height: 2em;
  color: #f4f6f9;
}

.task{
  margin: 1em;
  border: 1px solid black;
}
