<div class="container mt-3">
<div class="flex-main">
  <div class="flex-col">
    <div class="title bg-secondary">Nuevo</div>
    <mat-card class="task">
      <mat-card-header cdkDrag>
        Nombre de la petición
      </mat-card-header>
      <mat-card-content>  Detalles</mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="primary"><mat-icon>check</mat-icon>OK</button>
      </mat-card-footer>
    </mat-card>

    <mat-card class="task" cdkDrag>
      <mat-card-header>
        Nombre de la petición
      </mat-card-header>
      <mat-card-content>  Detalles</mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="primary"><mat-icon>check</mat-icon>OK</button>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="flex-col ">
    <div class="title bg-primary">Asignado</div>
  </div>
  <div class="flex-col ">
    <div class="title bg-info">En proceso</div>
  </div>
  <div class="flex-col">
    <div class="title bg-success">Terminado</div>
  </div>
</div>
</div>
